*.cache
*.gmo
*.la
*.lo
*.m4
*.o

**/.deps/
**/.libs/

Makefile
Makefile.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
data/lightdm-guest-session
data/org.freedesktop.DisplayManager.AccountsService.policy
depcomp
gtk-doc.make
install-sh
liblightdm-gobject/LightDM-1.gir
liblightdm-gobject/LightDM-1.typelib
liblightdm-gobject/liblightdm-gobject-1.pc
liblightdm-gobject/liblightdm-gobject-1.vapi
liblightdm-qt/greeter_moc5.cpp
liblightdm-qt/liblightdm-qt5-3.pc
liblightdm-qt/power_moc5.cpp
liblightdm-qt/sessionsmodel_moc5.cpp
liblightdm-qt/usersmodel_moc5.cpp
libtool
ltmain.sh
missing
po/.intltool-merge-cache
po/.intltool-merge-cache.lock
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/dm-tool
src/lightdm
src/lightdm-guest-session
stamp-h1
test-driver

tests/src/X
tests/src/Xvnc
tests/src/dbus-env
tests/src/guest-account
tests/src/initctl
tests/src/plymouth
tests/src/test-gobject-greeter
tests/src/test-greeter-wrapper
tests/src/test-guest-wrapper
tests/src/test-qt5-greeter
tests/src/test-qt5-greeter_moc5.cpp
tests/src/test-runner
tests/src/test-script-hook
tests/src/test-session
tests/src/vnc-client

compile_commands.json
